.display
  #level
.controls
  .movement
    #forward.button &uarr;
    #left.button &larr;
    #right.button &rarr;
    #back.button &darr;
#console
  %p <strong>Welcome to Whizardry!</strong> Wander the dungeon and find the secret "invisible" exit in as few moves as possible.